@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(34,149,195);
    background: -moz-radial-gradient(circle, rgba(34,149,195,1) 0%, rgba(21,74,203,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(34,149,195,1) 0%, rgba(21,74,203,1) 100%);
    background: radial-gradient(circle, rgba(34,149,195,1) 0%, rgba(21,74,203,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2295c3",endColorstr="#154acb",GradientType=1);
}